/** Color ref
* Body: #0812A3
* Hoodie: #FF0000
* Blouson: #242424
*/

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #242424;
    font-family: 'M PLUS Rounded 1c', 'Prompt';
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 250px;
    margin: 0 auto;
}

#nav {
    display: flex;
    justify-content: space-around;
}

#nav {
    background: #0812A3;
    color: #fff;
    border: 1px solid;
    border-radius: 4px;
}

#nav .nav-links {
    text-decoration: none;
    margin: 0 10px;
    padding: 20px 0;
    color: #fff;
    /* background: red; */
    font-size: 30pt;
    transition: all .2s ease-out;
}

#nav .nav-links:hover {
    color: #f00;
}

.spacer {
    flex-grow: 1;
}